.conteiner{
    height: 50%;
    width: 70%;
    border: 10px;
    border-color: black;
    position: absolute;
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

body{
    background-color: aqua;
}

.color{
    height: 30%;
    width: 20%;
    background-color: blueviolet;
    margin: 3px;
    opacity: 0.3;
    transition: opacity 800ms;
    animation-name: cambioOpacidad;
    
    
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

@keyframes cambioOpacidad{
    0%{ opacity: 0.6;}

    25%{ opacity: 0.8;}

    50%{ opacity: 1;}

    100%{opacity: 0.6;}
}